
<p *ngIf="message">
  {{ message }}
</p>

<form *ngIf="displayForm" #formElement="ngForm">

  <select (change)="selectFormule(+$event.target.value)">
    <option
      *ngFor="let formule of formulesList; let i = index; "
      [value]="i">
      {{ formule.name }} ( {{ formule.price | currency : 'EUR'}} )
    </option>
  </select>

  <p *ngIf="formulesList[selectedFormuleIndex] as formule">
    Vous avez selectionné
    la formule {{ formule.name }}
    à {{ formule.price | currency: 'EUR'}}
  </p>

  <label>
    Login
    <input type="text"
           pattern=".+@.+"
           name="email"
           required
           placeholder="email address"
           [(ngModel)]="user.email">
  </label>


  <label>
    Password
    <input type="password"
           name="password"
           minlength="4"
           required
           placeholder="secret password"
           [(ngModel)]="user.password">
  </label>

  <button
    [disabled]="formElement.invalid"
    (click)="login()">
    Send
  </button>

  <button>
    Cancel
  </button>

</form>
