
<table>
  <thead>
  <tr>
    <th>flag</th>
    <th>name</th>
    <th>alpha3Code</th>
    <th>capital</th>
    <th>subregion</th>
    <th>timezones</th>
    <th>languages</th>
  </tr>
  </thead>

  <tbody>
    <tr *ngFor="let country of countriesList">
      <td>
        <img [src]="country.flag" >
      </td>
      <td>
        {{ country.timezonesFormatted }}
      </td>
      <td>
         {{ country.languagesFormatted }}
      </td>
      <td>
        <a [routerLink]="['/country', 'detail', country.alpha3Code|lowercase]">detail</a>
      </td>
    </tr>
  </tbody>
</table>
